<div class="container-fluid bg-dark pb-4 " style="min-height:400px ;">
        <div class="row">
            <div class="col-md-6 py-3 d-md-block d-none">
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105639.20192530863!2d77.41084251499409!3d34.16616309889195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38fdeb21445fed85%3A0xd1bb09975086f710!2sLeh!5e0!3m2!1sen!2sin!4v1668498207339!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100 h-100 border rounded" ></iframe>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 d-flex flex-column align-items-center  my-5">
                        <h4 class="text-light my-md-3  my-2  ">
                            <i class="bi bi-geo-alt-fill"></i> Leh , India
                        </h4>
                        <h4 class="text-light my-md-3 my-2">
                            <i class="bi bi-telephone-fill"></i>  5555 777 222
                        </h4>
                        <h4 class="text-light my-md-3 my-2">
                            <i class="bi bi-envelope-fill"></i> <span class="text-primary"> mobshop@gmail.com</span> 
                        </h4>
                    </div>
                    <div class="col-md-6 d-flex flex-column align-items-start ms-md-0 ms-2">
                            <h4 class="text-light mt-md-5 mb-md-4">About the company</h4>
                            <p class="text-light" style="font-size:1rem ;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias enim eius suscipit aperiam totam ipsa magni commodi, voluptate numquam veritatis incidunt, porro nesciunt labore vel dolorem inventore. Aut alias officia similique officiis dolores ipsa provident, fugit nostrum eveniet assumenda quo!</p>
                            <div class="cotainer-fluid d-flex text-light fs-3 mb-5">
                                <a href="" class="text-light me-4"><i class="bi bi-facebook"></i></a>
                                <a href="" class="text-light me-4"><i class="bi bi-instagram"></i></a>
                                <a href="" class="text-light me-4"><i class="bi bi-github"></i></a>
                                <a href="" class="text-light me-4"><i class="bi bi-linkedin"></i></a>
                                <a href="" class="text-light me-4"><i class="bi bi-twitter"></i></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="text-center text-light mt-3">Mobshop @2022 <a href=""> Terms & conditions</a> all rights reserved</h6>
</div>