{% extends 'base_template.html' %}

{% block title %} Home - store {% endblock %}   

{% block body %}
        
        {% include 'header.html' %}
        {% comment %} First carousel main  {% endcomment %}
        <div class="mt-3 container-fluid" style="max-height: 80vh;"> <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" style="max-height: 80vh;">
                    <img src="https://rukminim1.flixcart.com/fk-p-flap/844/140/image/ed6a77df878809fe.jpg?q=50" class="d-block w-100 img-fluid" alt="..." loading="lazy">
                  </div>
                  <div class="carousel-item" style="max-height: 80vh;">
                    <img src="https://rukminim1.flixcart.com/flap/844/140/image/88928cba4ae417a5.jpg?q=50" class="d-block w-100 img-fluid" alt="..." loading="lazy">
                  </div>
                  <div class="carousel-item" style="max-height: 80vh;">
                    <img src="https://rukminim1.flixcart.com/flap/844/140/image/e63cc8c0c5ade515.jpg?q=50" class="d-block w-100 img-fluid" alt="..." loading="lazy">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div></div>

        
        {% comment %} Oppo carousel {% endcomment %}

        <div class="container mt-5" >

        <h1 class="text-center my-5 text-success">Oppo Mobiles</h1>
        
    <div id="carouselExampleIndicators1" class="carousel slide mt-5  " data-bs-ride="carousel">
        
        <div class="carousel-inner mb-4">
          <div class="carousel-item active" >
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                
                
              {% for item in opposlide1 %}
              <div class="col">
                  <div class="card mx-auto " style="width: 20rem;">
                    <div class="cotainer mx-2" >

                      <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title fs-4">{{item.productName}}</h5>
                        
                        <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-success mt-2" target="_blank">View product</a>
                      </div>
                    </div>
              </div>
            
              {% endfor %}
            </div>
           
          </div>
          <div class="carousel-item">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                
              {% for item in opposlide2 %}
              <div class="col">
                  <div class="card mx-auto " style="width: 20rem;">
                    <div class="cotainer mx-2" >

                      <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title fs-4">{{item.productName}}</h5>
                        
                        <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-success mt-2" target="_blank">View product</a>
                      </div>
                    </div>
              </div>
            
              {% endfor %}  
              
            </div>
          </div>
          <div class="carousel-item">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                
              {% for item in opposlide3 %}
              <div class="col">
                  <div class="card mx-auto " style="width: 20rem;">
                    <div class="cotainer mx-2" >

                      <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title fs-4">{{item.productName}}</h5>
                        
                        <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-success mt-2" target="_blank">View product</a>
                      </div>
                    </div>
              </div>
            
              {% endfor %}
                
            </div>
          </div>
        </div>
      </div>
      <button class=" btn btn-outline-success btn-lg" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
        Previous
      </button>
      <button class="btn btn-outline-success btn-lg float-end" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
        Next
      </button>
    </div>
        


        {% comment %} Samsung's section {% endcomment %}

        <div class="container mt-5" >

                <h1 class="text-center my-5" style="color:#1207e3;">Samsung Mobiles</h1>
                
            <div id="carouselExampleIndicators2" class="carousel slide mt-5  " data-bs-ride="carousel">
                
                <div class="carousel-inner mb-4">
                  <div class="carousel-item active" >
                    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                        
                      {% for item in samsungslide1 %}
                      <div class="col">
                          <div class="card mx-auto " style="width: 20rem;">
                            <div class="cotainer mx-2" >
        
                              <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                            </div>
                              <div class="card-body">
                                <h5 class="card-title fs-4">{{item.productName}}</h5>
                                
                                <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-primary mt-2" target="_blank">View product</a>
                              </div>
                            </div>
                      </div>
                    
                      {% endfor %}
                        
                    </div>
                   
                  </div>
                  <div class="carousel-item">
                    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                      {% for item in samsungslide2 %}
                      <div class="col">
                          <div class="card mx-auto " style="width: 20rem;">
                            <div class="cotainer mx-2" >
        
                              <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                            </div>
                              <div class="card-body">
                                <h5 class="card-title fs-4">{{item.productName}}</h5>
                                
                                <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-primary mt-2" target="_blank">View product</a>
                              </div>
                            </div>
                      </div>
                    
                      {% endfor %}
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                      {% for item in samsungslide3 %}
                      <div class="col">
                          <div class="card mx-auto " style="width: 20rem;">
                            <div class="cotainer mx-2" >
        
                              <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                            </div>
                              <div class="card-body">
                                <h5 class="card-title fs-4">{{item.productName}}</h5>
                                
                                <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-primary mt-2" target="_blank">View product</a>
                              </div>
                            </div>
                      </div>
                    
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <button class=" btn btn-outline-primary btn-lg" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                Previous
              </button>
              <button class="btn btn-outline-primary btn-lg float-end" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                Next
              </button>
            </div>

{% comment %} Apple's Section {% endcomment %}

<div class="container mt-5" >

        <h1 class="text-center my-5 text-dark">Apple Mobiles</h1>
        
    <div id="carouselExampleIndicators3" class="carousel slide mt-5  " data-bs-ride="carousel">
        
        <div class="carousel-inner mb-4">
          <div class="carousel-item active" >
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                
              {% for item in appleslide1 %}
              <div class="col">
                  <div class="card mx-auto " style="width: 20rem;">
                    <div class="cotainer mx-2" >

                      <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title fs-4">{{item.productName}}</h5>
                        
                        <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-dark mt-2" target="_blank">View product</a>
                      </div>
                    </div>
              </div>
            
              {% endfor %}
              
            </div>
           
          </div>
          <div class="carousel-item">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                
              {% for item in appleslide2 %}
              <div class="col">
                  <div class="card mx-auto " style="width: 20rem;">
                    <div class="cotainer mx-2" >

                      <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title fs-4">{{item.productName}}</h5>
                        
                        <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-dark mt-2" target="_blank">View product</a>
                      </div>
                    </div>
              </div>
            
              {% endfor %}
                
            </div>
          </div>
          <div class="carousel-item">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                
              {% for item in appleslide3 %}
              <div class="col">
                  <div class="card mx-auto " style="width: 20rem;">
                    <div class="cotainer mx-2" >

                      <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title fs-4">{{item.productName}}</h5>
                        
                        <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-dark mt-2" target="_blank">View product</a>
                      </div>
                    </div>
              </div>
            
              {% endfor %}
                
            </div>
          </div>
        </div>
      </div>
      <button class=" btn btn-outline-dark btn-lg" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
        Previous
      </button>
      <button class="btn btn-outline-dark btn-lg float-end" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
        Next
      </button>
    </div>


{% comment %} Realme's Section {% endcomment %}

<div class="container mt-5" >

        <h1 class="text-center my-5"> <span class="text-warning bg-dark border rounded px-3 py-1">Realme Mobiles</span></h1>
        
    <div id="carouselExampleIndicators4" class="carousel slide mt-5  " data-bs-ride="carousel">
        
        <div class="carousel-inner mb-4">
          <div class="carousel-item active" >
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                
              {% for item in realmeslide1 %}
              <div class="col">
                  <div class="card mx-auto " style="width: 20rem;">
                    <div class="cotainer mx-2" >

                      <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title fs-4">{{item.productName}}</h5>
                        
                        <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-warning mt-2" target="_blank">View product</a>
                      </div>
                    </div>
              </div>
            
              {% endfor %}
                
            </div>
           
          </div>
          <div class="carousel-item">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
          
              {% for item in realmeslide2 %}
              <div class="col">
                  <div class="card mx-auto " style="width: 20rem;">
                    <div class="cotainer mx-2" >

                      <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title fs-4">{{item.productName}}</h5>
                        
                        <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-warning mt-2" target="_blank">View product</a>
                      </div>
                    </div>
              </div>
            
              {% endfor %}
          
            </div>
          </div>
          <div class="carousel-item">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
              
              {% for item in realmeslide3 %}
              <div class="col">
                  <div class="card mx-auto " style="width: 20rem;">
                    <div class="cotainer mx-2" >

                      <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title fs-4">{{item.productName}}</h5>
                        
                        <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-warning mt-2" target="_blank">View product</a>
                      </div>
                    </div>
              </div>
            
              {% endfor %}
              
            </div>
          </div>
        </div>
      </div>
      <button class=" btn btn-outline-warning btn-lg" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="prev">
        Previous
      </button>
      <button class="btn btn-outline-warning btn-lg float-end" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="next">
        Next
      </button>
    </div>




    {% comment %} Oneplus's Section'{% endcomment %}

<div class="container my-5" >

        <h1 class="text-center my-5 text-danger">Oneplus Mobiles</h1>
        
    <div id="carouselExampleIndicators5" class="carousel slide mt-5  " data-bs-ride="carousel">
        
        <div class="carousel-inner mb-4">
          <div class="carousel-item active" >
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                
              {% for item in oneplusslide1 %}
              <div class="col">
                  <div class="card mx-auto " style="width: 20rem;">
                    <div class="cotainer mx-2" >

                      <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title fs-4">{{item.productName}}</h5>
                        
                        <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-danger mt-2" target="_blank">View product</a>
                      </div>
                    </div>
              </div>
            
              {% endfor %}
                
            </div>
           
          </div>
          <div class="carousel-item">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
              {% for item in oneplusslide2 %}
              <div class="col">
                  <div class="card mx-auto " style="width: 20rem;">
                    <div class="cotainer mx-2" >

                      <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title fs-4">{{item.productName}}</h5>
                        
                        <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-danger mt-2" target="_blank">View product</a>
                      </div>
                    </div>
              </div>
            
              {% endfor %}
            </div>
          </div>
          <div class="carousel-item">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
                
              {% for item in oneplusslide3 %}
              <div class="col">
                  <div class="card mx-auto " style="width: 20rem;">
                    <div class="cotainer mx-2" >

                      <img src="{{MEDIA_URL}}{{item.productimage.url}}" class="card-img-top img-fluid" alt="..." style="max-height:20rem ;">
                    </div>
                      <div class="card-body">
                        <h5 class="card-title fs-4">{{item.productName}}</h5>
                        
                        <a href="{% url 'store:individualproducts' item.brand.brandName item.productName item.color %}" class="btn btn-danger mt-2" target="_blank">View product</a>
                      </div>
                    </div>
              </div>
            
              {% endfor %}
                
            </div>
          </div>
        </div>
      </div>
      <button class=" btn btn-outline-danger btn-lg" type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide="prev">
        Previous
      </button>
      <button class="btn btn-outline-danger btn-lg float-end" type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide="next">
        Next
      </button>
    </div>

              {% include 'footer.html' %}
        {% comment %} {% load static %}
        <script src="{% static 'temp.js' %}"></script> {% endcomment %}
{% endblock  %}