{% extends 'base_template.html' %}
{% load mathfilters %}
{% block title %} {{product.productName}} {% endblock %}  

{% block style %}
::-webkit-scrollbar-thumb {
        width:10px;
        margin: 0 5px;
        background-color: grey;
        border-radius:10px 10px;
    }
    ::-webkit-scrollbar {
        width: 10px;
        background-color: #abbcd6 ;
        border-radius:10px 10px;
    }
{% endblock style %}

{% block body %}
{% include 'header.html' %}

        <div class="container my-5">
                {% if ismsg %}
                <div class="alert alert-danger mb-4" role="alert">
                        {{msg}}
                </div>
                {% endif %}
                <div class="row g-0" >
                        <div class=" col-md-3" style="postition:fixed;top: 20;"><img src="{{MEDIA_ROOT}}{{product.productimage.url}}" alt="" class="img-fluid d-block mx-auto" style="max-height: 20rem;">
                                <a href="{% url 'store:addcart' product.id product.color %}" class="btn btn-primary w-100 fs-5 mt-5 ">
                                        Add to cart
                                </a></div>
                        <div class="col-md-9 mt-4 mt-md-0 px-5" style="height: 89vh;box-sizing: border-box;overflow-y: scroll;overflow-x: hidden;">
                                <h1 class="display-1 ">{{product.productName}}</h1>
                                <h3 class="fs-3 mt-3">Price :- {% widthratio product.mrp 100 100|sub:product.discount %} <span class="text-success fs-4"> {{product.discount}}% off </span><strike class="text-muted fs-5">  {{product.mrp}}</strike></h3>
                                <div class="row">
                                        <div class="col-md-4">
                                                <h3 class="fs-4 mt-4">Storage :- {{product.variant.variantName}}</h3>
                                        </div>
                                        <div class="col-md-8">
                                                <h3 class="fs-4 mt-4">Colour :- {{product.color|capfirst}}</h3>
                                        </div>
                                </div>
                                <div class="row mt-1">
                                        <div class="col-md-4 fs-4 mt-3">
                                                Available Colors : 
                                        </div>
                                        <div class="col-md-8">
                                                {% for item in colors  %}
                                                <a href="{% url 'store:individualproducts'  product.brand.brandName product.productName item.color %}" class="btn btn-outline-primary mx-md-2 mx-1 my-md-0 my-2  mt-md-3">
                                                        {{item.color|capfirst}}
                                                </a>
                                        {% endfor %}
                                        </div>
                                </div>
                        
                                
                                
                                <h4 class="text-danger mt-4">Note : Below specs are just dummy data of S21 fe 5g</h4>
                                <h3 class="mb-2 mt-2">Description :-</h3>
                                <p style="text-align: justify;">{{product.specs}}</p>

                                <div class="container m-0 p-0 mt-4 fs-5" >

                                        <h1 class="mt-3 mb-4">Display Features :- </h1>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Display Size 
                                                </div>
                                                <div class="col-9">
                                                        16.26 cm (6.4 inch)
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Resoulution
                                                </div>
                                                <div class="col-9">
                                                        2314 X 1080 Pixel
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Resoulution Type
                                                </div>
                                                <div class="col-9">
                                                        Full HD+
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Display Type
                                                </div>
                                                <div class="col-9">
                                                        Dynamic Amoled 2X
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        HD Game support
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Refresh Rate 
                                                </div>
                                                <div class="col-9">
                                                        120 Hz
                                                </div>
                                        </div>

                                        <h1 class="mt-5 mb-4">OS and Processor Features :- </h1>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Operating System
                                                </div>
                                                <div class="col-9">
                                                        Android 12
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Processor Core 
                                                </div>
                                                <div class="col-9">
                                                        Octa Core
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Primary Clock speed 
                                                </div>
                                                <div class="col-9">
                                                        2.9 GHZ
                                                </div>
                                        </div>
                                        
                                        <h1 class="mt-5 mb-4">Camera Features :- </h1>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Primary Camera Available 
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Primary Camera
                                                </div>
                                                <div class="col-9">
                                                        12 MP + 12 MP + 8 MP ( OIS )
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Optical Zoom
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Secondary Camera Available
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Secondary Camera 
                                                </div>
                                                <div class="col-9">
                                                        32 MP Front camera
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Secondary Camera Features
                                                </div>
                                                <div class="col-9">
                                                        32 MP camera Setup : (f/2.2 Aperture)
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Flash
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        HD Recording
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Full HD Recording
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Video Recording
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Video Recording Resoulution
                                                </div>
                                                <div class="col-9">
                                                        3840 X 2160 ( at 60 FPS)
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Digital Zoom
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Frame Rate
                                                </div>
                                                <div class="col-9">
                                                        60 FPS
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Image Editor
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Dual Camera Lens
                                                </div>
                                                <div class="col-9">
                                                        Primary Camera 
                                                </div>
                                        </div>
                                        
                                        <h1 class="mt-5 mb-4">Call Features :- </h1>

                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Call Wait/Hold
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Video Call Support
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Call Divert
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Phone Book
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Call Timer
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Speaker Phone
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Call records
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Logs
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>

                                        <h1 class="mt-5 mb-4">Connectivity Features :- </h1>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Network Type
                                                </div>
                                                <div class="col-9">
                                                        5G,4G,3G,2G
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Supported Network
                                                </div>
                                                <div class="col-9">
                                                        5G,4G LTE,WCDMA,GSM
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Internet Connectivity
                                                </div>
                                                <div class="col-9">
                                                        5G,4G,3G,Wi-Fi
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Bluetooth Support
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Bluetooth Version
                                                </div>
                                                <div class="col-9">
                                                        v5.0
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Wi-Fi
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Wi-Fi Version
                                                </div>
                                                <div class="col-9">
                                                        802.11 a/b/g/n/ac/ax (2.4ghz|5.0ghz)
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Wi-Fi Hotspot
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        USB Connectivity
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Audio jack
                                                </div>
                                                <div class="col-9">
                                                        USB ( Type C )
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        GPS Support
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>

                                        <h1 class="mt-5 mb-4">Other Details :- </h1>

                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Smartphone
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Sim Size
                                                </div>
                                                <div class="col-9">
                                                        Nano Sim
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Socail Networking Phone
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Instant Message
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Removable Battery
                                                </div>
                                                <div class="col-9">
                                                        No
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        MMS
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        SMS
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Keypad
                                                </div>
                                                <div class="col-9">
                                                        Yes
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Sim Acess
                                                </div>
                                                <div class="col-9">
                                                        Dual Sim
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Supported Language
                                                </div>
                                                <div class="col-9">
                                                        Multi
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Games
                                                </div>
                                                <div class="col-9">
                                                        Multi
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Other Features
                                                </div>
                                                <div class="col-9">
                                                        Water Resistant,Wireless Charging,Fast Charging Support,UHD 4k video Recording
                                                </div>
                                        </div>

                                        <h1 class="mt-5 mb-4">Battery Features :- </h1>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Battery Capacity
                                                </div>
                                                <div class="col-9">
                                                        4500 mAh
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Dual battery
                                                </div>
                                                <div class="col-9">
                                                        No
                                                </div>
                                        </div>

                                        <h1 class="mt-5 mb-4">Dimesions :- </h1>

                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Width
                                                </div>
                                                <div class="col-9">
                                                        74.5 mm
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Height
                                                </div>
                                                <div class="col-9">
                                                        155.7 mm
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Depth
                                                </div>
                                                <div class="col-9">
                                                        7.9 mm
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Weight
                                                </div>
                                                <div class="col-9">
                                                        177 g
                                                </div>
                                        </div>
                                        
                                        <h1 class="mt-5 mb-4">Warranty Details :- </h1>

                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Warranty Summary 
                                                </div>
                                                <div class="col-9">
                                                        1 year manufacturer warranty for device and 6 months manufacturer warranty for inbox accessories
                                                </div>
                                        </div>
                                        <div class="row my-3">
                                                <div class="col-3 text-secondary ">
                                                        Domestic Warranty  
                                                </div>
                                                <div class="col-9">
                                                        1 year 
                                                </div>
                                        </div>
                                </div>
                                

                                
                                
                                
                        </div>
                </div>
        </div>


{% include 'footer.html' %}
{% endblock %}